# macOS

.DS_Store
**/.DS_Store

# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
